##PROJECT SETTINGS VARIABLES##
NEXT_PUBLIC_THEME="violet"
NEXT_PUBLIC_SAAS_NAME="Bayesian Labs"
NEXT_PUBLIC_URL="http://localhost:3000"
NEXT_PUBLIC_THEME_TYPE="dark"

##CMS MODULE VARIABLES##
NEXT_PUBLIC_CMS="notion"
LANDING_DATABASE_ID=""
SERVICE_DATABASE_ID=""
TESTIMONIAL_DATABASE_ID=
PRODUCT_DATABASE_ID=""
FOOTER_DATABASE_ID=""
TEAM_DATABASE_ID=""
SOCIAL_NETWORK_DATABASE_ID=""
DOCUMENTATION_DATABASE_ID=""
BLOG_DATABASE_ID=""
NOTION_API_TOKEN=""


##OBSERVABILITY, ANALYTICS AND SECURITY MODULE VARIABLES##
GOOGLE_ANALYTICS_MEASUREMENT_ID=""
RESEND_API_KEY=""
RESEND_AUDIENCE_ID=

##STORAGE MODULE VARIABLES##
NEXT_PUBLIC_IMAGE_STORAGE="cloudflare_r2"
BLOB_READ_WRITE_TOKEN=""
R2_ACCOUNT_ID=""
R2_ACCESS_KEY_ID=""
R2_SECRET_ACCESS_KEY=""
R2_BUCKET_NAME=""
NEXT_PUBLIC_R2_PUBLIC_URL=""
UPSTASH_REDIS_REST_URL=""
UPSTASH_REDIS_REST_TOKEN=""

##AI MODULE VARIABLES##
N8N_SAAS_ASSISTANT_WEBHOOK_URL=""
